<div class="row">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-6">
    <div class="well">
      <fieldset>
        <legend>New Picture</legend>
          <%= render :partial => 'form' %>
        </fieldset>
    </div>
  </div>
</div>                 
