<div class="container">
  <div class="row">
    <% @gems.each do |gemm| %>
      <div class= "col-md-4">
        <div class="thumbnail">
          <%= image_tag gemm.gemimage_url, :class => "img-rounded" %>
        </div>
      </div>
    <%end%>        
  </div>
</div>

